@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/urbanist';

@font-face {
  font-family: 'Unigeo64';
  src: url('../fonts/Unigoe/Unigeo64-Bold-trial.ttf') format('truetype');
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4d56;
  background-color: #f8f8fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.Unigoe-font {
  font-family: 'Unigeo64';
}

body.dark {
  background-color: #0e120f;
}
