@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/urbanist';

@font-face {
  font-family: 'Unigeo64';
  src: url('../fonts/Unigoe/Unigeo64-Bold-trial.ttf') format('truetype');
}

html {
  height: -webkit-fill-available;
}

body,
html {
  height: 100vh;
  height: -webkit-fill-available;
  width: 100%;
  font-family: 'Urbanist', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #4a4d56;
  background-color: #f8f8fa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.Unigoe-font {
  font-family: 'Unigeo64';
}

.dark {
  background-color: #0e120f;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  color: #0d4222;
  margin: 0;
  padding: 0;
}
